Node-RED_flows.json
[
    {
        "id": "d70d78d3a81865f6",
        "type": "tab",
        "label": "Kontrollpanel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b9b5268d5e4a9f28",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"reboot\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "e7205efdfaee6f01",
        "type": "ui_switch",
        "z": "d70d78d3a81865f6",
        "name": "",
        "label": "schuko12",
        "tooltip": "",
        "group": "bc0d8e012af67377",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"schuko12\" : 1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"schuko12\" : 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "59613563a6bb0af2",
        "type": "mqtt out",
        "z": "d70d78d3a81865f6",
        "name": "",
        "topic": "dashboard_switch",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac1277ea078c48d8",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "bc0d8e012af67377",
        "type": "ui_group",
        "name": "Kontrollpanel",
        "tab": "bac43136f601d56a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac1277ea078c48d8",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bac43136f601d56a",
        "type": "ui_tab",
        "name": "Kontrollpanel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]