node-red_flows.json
[
    {
        "id": "d70d78d3a81865f6",
        "type": "tab",
        "label": "Kontrollpanel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b9b5268d5e4a9f28",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 12,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Hardreboot ESP",
        "tooltip": "",
        "color": "",
        "bgcolor": "#611E26",
        "className": "",
        "icon": "",
        "payload": "{\"reboot\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "59613563a6bb0af2",
        "type": "mqtt out",
        "z": "d70d78d3a81865f6",
        "name": "",
        "topic": "node-red_relais_button",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac1277ea078c48d8",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "10ef70341c1be3be",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Steckdose 1/2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"schuko12\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "e62699d7dc5f7591",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 8,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Steckdose 3/4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"schuko34\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "556cde56cd8ee770",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Steckdose 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"schuko1\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "994da8b7284402e0",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Steckdose 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"schuko2\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "9389d3f7579ab442",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Steckdose 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"schuko3\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "dd1ee7e99285ea2f",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Steckdose 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"schuko4\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 420,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "1fd6fc17d9edb23a",
        "type": "mqtt out",
        "z": "d70d78d3a81865f6",
        "name": "",
        "topic": "node-red_shelly_button",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac1277ea078c48d8",
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "f28e3a11cb28e8cc",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 14,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Shelly Relais toggle",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"switch_state\" : \"toggle\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 620,
        "wires": [
            [
                "1fd6fc17d9edb23a"
            ]
        ]
    },
    {
        "id": "5e536034d52a1cd9",
        "type": "ui_switch",
        "z": "d70d78d3a81865f6",
        "d": true,
        "name": "",
        "label": "Shelly Relais switch",
        "tooltip": "",
        "group": "bc0d8e012af67377",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"switch_state\" : \"ON\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"switch_state\" : \"OFF\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 740,
        "wires": [
            [
                "1fd6fc17d9edb23a"
            ]
        ]
    },
    {
        "id": "fc232b27b181b2c9",
        "type": "mqtt in",
        "z": "d70d78d3a81865f6",
        "name": "",
        "topic": "ESP_AHT",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ff42f3cbdd673040",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 840,
        "wires": [
            [
                "b813691cf6c05fb3",
                "4b390933d409a4a3",
                "b70f85949ba76d0a"
            ]
        ]
    },
    {
        "id": "b813691cf6c05fb3",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function humidity",
        "func": "var mid_hum = {payload: msg.payload.Sensorwerte.hum}\nreturn mid_hum;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 840,
        "wires": [
            [
                "1836e3e850bbe73d",
                "f6c729200e0736cd",
                "f6615f76c9ea462a"
            ]
        ]
    },
    {
        "id": "4b390933d409a4a3",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function temperature",
        "func": "var mid_temp = {payload: msg.payload.Sensorwerte.temp}\nreturn mid_temp;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1000,
        "wires": [
            [
                "6509dd6d7f5b4632",
                "30882982dd18326d",
                "90390c4468933568"
            ]
        ]
    },
    {
        "id": "1836e3e850bbe73d",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 840,
        "wires": []
    },
    {
        "id": "6509dd6d7f5b4632",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f6c729200e0736cd",
        "type": "ui_gauge",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "63fda0049e588b62",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e6e600",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 900,
        "wires": []
    },
    {
        "id": "30882982dd18326d",
        "type": "ui_chart",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "63fda0049e588b62",
        "order": 4,
        "width": 4,
        "height": 4,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "f6615f76c9ea462a",
        "type": "ui_chart",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "63fda0049e588b62",
        "order": 5,
        "width": 4,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "90390c4468933568",
        "type": "ui_gauge",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "63fda0049e588b62",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Temperatur",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#e6e600",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "24",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b70f85949ba76d0a",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "write_database_Raumwerte",
        "func": "let temperature = msg.payload.Sensorwerte.temp;\nlet humidity = msg.payload.Sensorwerte.hum;\n\n\n// Timetstamp\nconst zeit = new Date; \nzeit.setHours(zeit.getHours() +1);   //1 Stunde Zeitverschiebung \nlet timestamp = zeit.toISOString().replace(\"T\", \" \").substring(0, 19); \n\n//let timestamp = new Date().toISOString().replace(\"T\", \" \").substring(0, 19);\n\nmsg.topic = \"INSERT INTO raumdaten (temperature, humidity, timestamp) VALUES (?, ?, ?)\";\nmsg.payload = [temperature, humidity, timestamp];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1160,
        "wires": [
            [
                "01bae2fcfebca8f5"
            ]
        ]
    },
    {
        "id": "01bae2fcfebca8f5",
        "type": "mysql",
        "z": "d70d78d3a81865f6",
        "mydb": "7cb61011aa9a200f",
        "name": "Kontrollpanel_DB",
        "x": 1010,
        "y": 1160,
        "wires": [
            [
                "a4ab214fd785f9ef"
            ]
        ]
    },
    {
        "id": "a4ab214fd785f9ef",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug Datenbank",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4e3a72afceef9575",
        "type": "mqtt in",
        "z": "d70d78d3a81865f6",
        "name": "",
        "topic": "ESP_logs",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ff42f3cbdd673040",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1220,
        "wires": [
            [
                "c076fa69725e7493",
                "function_store"
            ]
        ]
    },
    {
        "id": "c076fa69725e7493",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "write_database_logs",
        "func": "let eventtype = msg.payload.eventtype;\nlet event_text = msg.payload.event_text;\n\n\n// Timetstamp\nconst zeit = new Date; \nzeit.setHours(zeit.getHours() +1);   //1 Stunde Zeitverschiebung \nlet timestamp = zeit.toISOString().replace(\"T\", \" \").substring(0, 19); \n\n//let timestamp = new Date().toISOString().replace(\"T\", \" \").substring(0, 19);\n\nmsg.topic = \"INSERT INTO logs (eventtype, event_text, timestamp) VALUES (?, ?, ?)\";\nmsg.payload = [eventtype, event_text, timestamp];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1220,
        "wires": [
            [
                "01bae2fcfebca8f5"
            ]
        ]
    },
    {
        "id": "3b447a466567eadf",
        "type": "mqtt in",
        "z": "d70d78d3a81865f6",
        "name": "",
        "topic": "shelly_energydata",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ff42f3cbdd673040",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1560,
        "wires": [
            [
                "0344463a66b36051",
                "c02a7251025b6506",
                "3b39bd0a3a24f988",
                "de061ada38dc82cf",
                "a0157694141b0ec5",
                "4cbea6f9dd6aa4c1",
                "8e95ded26540c3c8",
                "e2aeb43a6f6d6bb2"
            ]
        ]
    },
    {
        "id": "0344463a66b36051",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "write_energydata_shelly",
        "func": "let mac_address = msg.payload.mac;\nlet voltage = msg.payload.voltage;\nlet current = msg.payload.current;\nlet power = msg.payload.power;\nlet energy = msg.payload.energy;\nlet temp = msg.payload.temp;\nlet switch_state = msg.payload.switch_state;\n\n\n// Timetstamp\nconst zeit = new Date; \nzeit.setHours(zeit.getHours() +1);   //1 Stunde Zeitverschiebung \nlet timestamp = zeit.toISOString().replace(\"T\", \" \").substring(0, 19); \n\n//let timestamp = new Date().toISOString().replace(\"T\", \" \").substring(0, 19);\n\nmsg.topic = \"INSERT INTO energiedaten (mac_address, voltage, current, power, energy, temp, switch_state, timestamp) VALUES (?, ?, ?, ?, ?, ?, ?, ?)\";\nmsg.payload = [mac_address, voltage, current, power, energy, temp, switch_state, timestamp];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1560,
        "wires": [
            [
                "01bae2fcfebca8f5"
            ]
        ]
    },
    {
        "id": "c02a7251025b6506",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function energydata voltage",
        "func": "var voltage = {payload: msg.payload.voltage}\nreturn voltage;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1640,
        "wires": [
            [
                "e97d0e77f2da8bcd",
                "d995061bd37f5f65",
                "3cc614e486257e42"
            ]
        ]
    },
    {
        "id": "3b39bd0a3a24f988",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function energydata current",
        "func": "var current = {payload: msg.payload.current}\nreturn current;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1800,
        "wires": [
            [
                "74f2b735b149c338",
                "de30269269fb806b",
                "a36bb0e538d00bf4"
            ]
        ]
    },
    {
        "id": "e97d0e77f2da8bcd",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug energydata voltage",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1640,
        "wires": []
    },
    {
        "id": "74f2b735b149c338",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug energydata current",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1800,
        "wires": []
    },
    {
        "id": "d995061bd37f5f65",
        "type": "ui_gauge",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": "200",
        "max": "260",
        "colors": [
            "#ffff00",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "220",
        "seg2": "240",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 1680,
        "wires": []
    },
    {
        "id": "de30269269fb806b",
        "type": "ui_chart",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 21,
        "width": 6,
        "height": 5,
        "label": "Current",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "3cc614e486257e42",
        "type": "ui_chart",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 20,
        "width": 6,
        "height": 5,
        "label": "Voltage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "220",
        "ymax": "240",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "a36bb0e538d00bf4",
        "type": "ui_gauge",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Current",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "16",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 1840,
        "wires": []
    },
    {
        "id": "de061ada38dc82cf",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function energydata power",
        "func": "var power = {payload: msg.payload.power}\nreturn power;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1960,
        "wires": [
            [
                "93a203d11da032e5",
                "d9e16b6a31764e03",
                "3d6d8cce71e3d93b"
            ]
        ]
    },
    {
        "id": "a0157694141b0ec5",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function energydata energy",
        "func": "var energy = {payload: msg.payload.energy}\nreturn energy;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 2120,
        "wires": [
            [
                "aa1a197b345dd14f",
                "07ed807493a023a3",
                "1e0a608b5ca7bc3e"
            ]
        ]
    },
    {
        "id": "93a203d11da032e5",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug energydata power",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1960,
        "wires": []
    },
    {
        "id": "aa1a197b345dd14f",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug energydata energy",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 2120,
        "wires": []
    },
    {
        "id": "d9e16b6a31764e03",
        "type": "ui_gauge",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Power",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "3700",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2300",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 2000,
        "wires": []
    },
    {
        "id": "07ed807493a023a3",
        "type": "ui_chart",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 23,
        "width": 6,
        "height": 5,
        "label": "Energy",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "3700",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "3d6d8cce71e3d93b",
        "type": "ui_chart",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 22,
        "width": 6,
        "height": 5,
        "label": "Power",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "3700",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "4cbea6f9dd6aa4c1",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function energydata temp shelly",
        "func": "var temp = {payload: msg.payload.temp}\nreturn temp;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 2280,
        "wires": [
            [
                "cdf30794999a8da8",
                "b2b29676ada70b8f",
                "fcd660f9ea65f8e9"
            ]
        ]
    },
    {
        "id": "8e95ded26540c3c8",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function energydata mac-address",
        "func": "var mac = {payload: msg.payload.mac}\nreturn mac;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2460,
        "wires": [
            [
                "6ae71891cdbb6ffd",
                "ad09fef3bb43fe5d"
            ]
        ]
    },
    {
        "id": "cdf30794999a8da8",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug energydata temp shelly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2280,
        "wires": []
    },
    {
        "id": "6ae71891cdbb6ffd",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug energydata mac-address",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2460,
        "wires": []
    },
    {
        "id": "b2b29676ada70b8f",
        "type": "ui_gauge",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "temp shelly",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 2320,
        "wires": []
    },
    {
        "id": "fcd660f9ea65f8e9",
        "type": "ui_chart",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "b4e8701da0029680",
        "order": 24,
        "width": 12,
        "height": 4,
        "label": "temp shelly",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 2360,
        "wires": [
            []
        ]
    },
    {
        "id": "e2aeb43a6f6d6bb2",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "function shelly_switch_state",
        "func": "var switch_state = {payload: msg.payload.switch_state}\nreturn switch_state;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1460,
        "wires": [
            [
                "67c170046afd26bd",
                "cb5a179db46e989e"
            ]
        ]
    },
    {
        "id": "67c170046afd26bd",
        "type": "debug",
        "z": "d70d78d3a81865f6",
        "name": "debug shelly switch state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1460,
        "wires": []
    },
    {
        "id": "ad09fef3bb43fe5d",
        "type": "ui_text",
        "z": "d70d78d3a81865f6",
        "group": "b4e8701da0029680",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "mac address",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 2500,
        "wires": []
    },
    {
        "id": "cb5a179db46e989e",
        "type": "ui_text",
        "z": "d70d78d3a81865f6",
        "group": "b4e8701da0029680",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "switch state",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 1520,
        "wires": []
    },
    {
        "id": "1e0a608b5ca7bc3e",
        "type": "ui_text",
        "z": "d70d78d3a81865f6",
        "group": "b4e8701da0029680",
        "order": 9,
        "width": 4,
        "height": 4,
        "name": "",
        "label": "Energy in Wh",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 2160,
        "wires": []
    },
    {
        "id": "272657ab8813cf96",
        "type": "mqtt in",
        "z": "d70d78d3a81865f6",
        "name": "",
        "topic": "shelly_switch_state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ff42f3cbdd673040",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 1400,
        "wires": [
            [
                "97871f268ffcef1a",
                "e2aeb43a6f6d6bb2"
            ]
        ]
    },
    {
        "id": "97871f268ffcef1a",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "write_database_shelly_switchstate_log",
        "func": "let eventtype = \"shelly switch\";\nlet switch_state = msg.payload.switch_state;\nlet event_text = `shelly switch changed to - ${switch_state}`;\n\n\n// Timetstamp\nconst zeit = new Date; \nzeit.setHours(zeit.getHours() +1);   //1 Stunde Zeitverschiebung \nlet timestamp = zeit.toISOString().replace(\"T\", \" \").substring(0, 19); \n\n//let timestamp = new Date().toISOString().replace(\"T\", \" \").substring(0, 19);\n\nmsg.topic = \"INSERT INTO logs (eventtype, event_text, timestamp) VALUES (?, ?, ?)\";\nmsg.payload = [eventtype, event_text, timestamp];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1400,
        "wires": [
            [
                "01bae2fcfebca8f5"
            ]
        ]
    },
    {
        "id": "function_store",
        "type": "function",
        "z": "d70d78d3a81865f6",
        "name": "log verlauf",
        "func": "let eventtype = msg.payload.eventtype;\nlet event_text = msg.payload.event_text;\n\n// Verlauf laden oder leeren\nlet history = flow.get('log_History') || [];\n\n\n// Timetstamp\nconst zeit = new Date;\nzeit.setHours(zeit.getHours() + 1);   //1 Stunde Zeitverschiebung \nlet timestamp = zeit.toISOString().replace(\"T\", \" \").substring(0, 19); \n\n// Neue Nachricht hinzufügen\nhistory.unshift(`${timestamp} : ${eventtype} -> ${event_text}`);\n\n// Maximal x Einträge behalten\nif (history.length > 10) {\n    history.pop();\n}\n\n// Verlauf speichern\nflow.set('log_History', history);\n\n// Für Dashboard ausgeben\nmsg.payload = history;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1280,
        "wires": [
            [
                "ui_template"
            ]
        ]
    },
    {
        "id": "ui_template",
        "type": "ui_template",
        "z": "d70d78d3a81865f6",
        "group": "dashboard_group",
        "name": "MQTT Verlauf",
        "order": 2,
        "width": 12,
        "height": 8,
        "format": "<h4>LOG History</h4>\n<ul>\n  <li ng-repeat=\"item in msg.payload track by $index\">\n    {{item}}\n  </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "6353940d92e67cfd",
        "type": "remote-access",
        "z": "d70d78d3a81865f6",
        "confignode": "a1378e09b8691dbb",
        "name": "Remote-Red",
        "verbose": 0,
        "x": 290,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8672e57158653d62",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Steckdosen ausschalten",
        "tooltip": "",
        "color": "",
        "bgcolor": "#611E26",
        "className": "",
        "icon": "",
        "payload": "{\"group_off\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "0f048bd58ac86dd0",
        "type": "ui_button",
        "z": "d70d78d3a81865f6",
        "name": "",
        "group": "bc0d8e012af67377",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Steckdosen einschalten",
        "tooltip": "",
        "color": "",
        "bgcolor": "#6D8C00",
        "className": "",
        "icon": "",
        "payload": "{\"group_on\" : 1}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "59613563a6bb0af2"
            ]
        ]
    },
    {
        "id": "dc7d636bb4517ec2",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "bc0d8e012af67377",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "7dc659472fa1cfd2",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "bc0d8e012af67377",
        "order": 7,
        "width": 8,
        "height": 1
    },
    {
        "id": "12be1ad34cf9123b",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "bc0d8e012af67377",
        "order": 11,
        "width": 8,
        "height": 1
    },
    {
        "id": "3b3bc14060b15fc7",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "bc0d8e012af67377",
        "order": 13,
        "width": 8,
        "height": 1
    },
    {
        "id": "cd5db7e248045ca1",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "bc0d8e012af67377",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9de12712796976f",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "bc0d8e012af67377",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "820a438c47b6781e",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "63fda0049e588b62",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "5f98f17eb5839c5a",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "773a41bd0ae7705b",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "ccd07a0ccb482756",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "1d54e54d13af505d",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "b99040dc47f957db",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "40a0a13434769a15",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "af7417520910cc4a",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "da50efedf92f29f5",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "7b8e41e46a59778b",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "108bf38e548b149a",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "cd5f018411fdb387",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "649c9f064a34d1f8",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "b4e8701da0029680",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "7abcbe12614ff6f0",
        "type": "ui_spacer",
        "z": "d70d78d3a81865f6",
        "name": "spacer",
        "group": "dashboard_group",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "bc0d8e012af67377",
        "type": "ui_group",
        "name": "Bedienelemente",
        "tab": "bac43136f601d56a",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac1277ea078c48d8",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ff42f3cbdd673040",
        "type": "mqtt-broker",
        "name": "Kontrollpanel_Laptop",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "63fda0049e588b62",
        "type": "ui_group",
        "name": "Raumwerte",
        "tab": "bac43136f601d56a",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": true,
        "className": ""
    },
    {
        "id": "7cb61011aa9a200f",
        "type": "MySQLdatabase",
        "name": "Kontrollpanel_Datenbank",
        "host": "localhost",
        "port": "3306",
        "db": "kontrollpanel",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b4e8701da0029680",
        "type": "ui_group",
        "name": "Energiedaten",
        "tab": "bac43136f601d56a",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Log Anzeige",
        "tab": "bac43136f601d56a",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1378e09b8691dbb",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "0crdc04kxxjze5axsu56876ufwr4yp53f7vq7n148fan7sdf3ffttrfb1tjrpl2u",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "bac43136f601d56a",
        "type": "ui_tab",
        "name": "Kontrollpanel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]